/* CSS stilovi za modul HNB tečajna lista */

/********* LISTA **********/

.hnbtecajna{ /*stil tablice*/
	width:100%!important;
}
div.hnbtecajna { /*stil podnaslova*/
	text-align:center!important;
	font-weight:bold;
	font-size:13px;
	padding:4px;
}

.trhnbtecajnaover{ /*stil retka "on mouse over"*/
	background-color:#EFEFEF;
}

.trhnbtecajna{ /*stil retka*/
	/*background-color: #FFFFFF;*/ 
}

#tecdatum{ /*datum*/
	font-weight:bold;
	padding-top:4px;
	padding-bottom:4px;
	color:#999999;
}
#tecvrsta{ /*vrsta tečaja*/
	font-weight:bold;
	padding:4px;
	text-align:right!important;
	color:#999999;
}

.tkoliko, .tiznos{ /*brojčane kolumne*/
	text-align:right!important;
}

/********* IZBOR TEČAJA **********/

#promjenitecaj{ /*stil div za promjenu vrste tečaja*/
	margin-top:4px;
	margin-bottom:4px;
	padding-top:4px;
	padding-bottom:4px;
	border-top:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	background-color:#EFEFEF;
	text-align:center!important;
}

.aktivnakol{ /*vrsta tečaja aktivni link*/
	font-size:14px;
}


/********* KALKULATOR **********/

.znak{ /*znakovi na kalkulatoru*/
	font-size:14px;
	font-weight:bold;
	color:#CCCCCC;
}
.hnbtecajna input, .hnbtecajna select{ /*elementi forme kalkulator*/
	font-size:11px;
}
#iznosout{ /*polje za ispis rezultata*/
	border-width:0px;
}
#iznosin,#iznosout{ /*polja za upis i ispis rezultata*/
	width:55px;
}
/********* POP UP **********/

#tecajna{ /*pop up prozor*/
	position:absolute; 
	top:100px; 
	left:100px; 
	width:190px; 
	background-color:#F6F6F6; 
	border:solid 1px #999999;
	padding:5px;
	padding-top:0px;
	z-index:100;
}

a.tecthumb:link, a.tecthumb:visited{ /*linkovi valuta u pop up-u*/
	float:left;
	width:30px;
	text-align:center;
	padding:2px;
	border:solid 1px #999999;
	margin:1px;
	display:block;
	background-color:#EFEFEF;
}

a.tecthumb:hover{ /*linkovi valuta u pop up-u hover*/
	border:solid 1px #CCCCCC;
	background-color:#FFFFFF;
}

div.topbar{ /*gornji dio prozora gdje je smješten "x" za zatvaranje*/
	background-color:#666666;
}
a.topbarx:link, a.topbarx:visited{ /*link "x" za zatvaranje*/
	display:block;
	text-align:right;
}
.drzava{ /*stilovi za labele "Država" i "Moneta"*/
	background-color:#EFEFEF;
	font-weight:bold;
	margin-top:4px;
}

/********* TOOL TIP **********/

 .tecajna-tip {
        z-index: 13000;
		border:1px solid #CCCCCC;
		filter:alpha(opacity=90);
		opacity:0.90;
}
 
.tecajna-tip .tecajna-title {
        font-weight: bold;
        margin: 0;
        padding:4px;
        background: #EFEFEF;
        border-bottom: 1px solid #CCCCCC;
}
 
.tecajna-tip .tecajna-text {
        padding:4px;
        background: #FFFFFF;
}